<div ng-hide="connected">
    <form>
        <p>Subscribe to channel: <input ng-model="subscribeChannel"></p>

        <p>
            <button class="btn" ng-click="connect(subscribeChannel)">Connect</button>
        </p>
    </form>
</div>

<div ng-show="connected">

    <form>

        <p>Send message: <input ng-model="inputValue"></p>

        <p>Send to channel: <input ng-model="inputChannel"></p>

        <p>
            <button class="btn" ng-click="send(inputValue, inputChannel)">Send</button>
        </p>
    </form>

    <table class="table">
        <tr>
            <td>
                <div ng-repeat="message in messages | orderBy:'+':true">
                    {{message.payloadString}}
                </div>
            </td>
        </tr>
    </table>

</div>